.Movie {
  display: flex;
  flex-direction: column;

  width: 300px;
  margin: 15px 15px 15px 15px;

  border: 1px solid #000;
  border-radius: 2px;
}

.Movie h2 {
  margin-bottom: 10px;

  font-family: Baskerville;
}

.Image {
  height: 200px;

  background-color: red;
}

.Content {
  padding: 15px 20px 10px 20px;
}

.Wrapper {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 25px 0 10px 0;
}

/* --- Opinion ---- */

.Opinion {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}