meter {
  width: 160px;
  height: 4px;
  margin-bottom: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 3px;
  /* Firefox */
  background: none; /* Required to get rid of the default background prop. */
  background-color: whiteSmoke;  
}

meter::-webkit-meter-bar {
  background: none; /* Important to get rid of default background. */
  background-color: whiteSmoke;
}

.Gauge {
  width: 160px;
  height: 4px;

  background-color: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 3px 5px -5px #000 inset;
}

.Gauge > span {
  height: inherit;
  background-color: blue;  
  display: block;
}

.Numbers {
  display: flex;

  font-size: 11px;
}
