.Movie {
  display: flex;
  flex-direction: column;

  width: 300px;
  margin: 15px 15px 15px 15px;

  border: 1px solid #000;
  border-radius: 2px;
}

.Movie h2 {
  margin-bottom: 10px;

  font-family: Baskerville;
}

.Image {
  height: 200px;

  background-color: red;
}

.Content {
  padding: 15px 20px 10px 20px;
}

.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 0 10px 0;
}

.Likes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

meter {
  width: 120px;
  height: 8px;
  margin-bottom: 8px;
}

.Numbers {
  display: flex;

  font-size: 11px;
} 

.Button {
  padding: 10px;

  border: 1px solid #000;
  border-radius: 3px;
}